<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.tantibus">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />
    <uses-feature android:name="android.hardware.sensor.compass" android:required="true" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tantibus">
        <activity
            android:name=".levels.Level_Dark_Activity"
            android:exported="true" />
        <activity
            android:name=".SignupActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBUljo3h3uuPmGIc2qvON4rO3BmWhuYa-M" />

        <activity
            android:name=".CreditsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".levels.Level9_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".levels.Level8_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".levels.Level7_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".levels.Level6_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".levels.Level5_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".levels.Level4_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".levels.Level3_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".levels.Level2_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".levels.Level1_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LevelActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>